:root {
    --primary-purple: #6366F1;
    --soft-levender: #EDE9FE;
    --light-sky: #e6eaf5;
    --vibrant-orange: #F97316;
    --deep-navy: #0F172A;
    --cool-gray: #64748B;
    --soft-white: #FFF;
}